
/* Theme ticket status/priority/client/assigned changes. */
.support-deadline {
  padding: 3px;
  padding-left: 16px;
  background: #edf4f9;
  font-size: .85em;
}
.support-hours-estimate {
  padding: 3px;
  padding-left: 16px;
  background: #edf4f9;
  font-size: .85em;
}
.support-hours-actual {
  padding: 3px;
  padding-left: 16px;
  background: #edf4f9;
  font-size: .85em;
}

#edit-deadline-wrapper label {
    float: left;
    margin-right: 3px;
}

.support tr td {
    padding: 5px;
}